DATABASE_URL="postgresql://user:passwordlocalhost:5432/BovinoDB?schema=public"
GOOGLE_CLIENT_ID=915355691907-o9unaol28a276bcqduul4vf50l71ne1d.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
JWT_SECRET_KEY=AIFAJFAJklvnkajiofjeiJLKF_sPE904

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=miusuario@gmail.com
SMTP_PASS=efldwdispxdezjsp